name: Build and Push Docker Images

on:
    push:
        branches:
            - main
        tags-ignore:
            - '*'
    schedule: # Rebuild every week to pull upstream updates
        -   cron: 0 3 * * 1
    workflow_dispatch: ~

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: false

permissions:
    actions: write
    contents: write
    packages: write
    attestations: write
    id-token: write

jobs:
    test:
        name: Test ${{ matrix.variant }} Image
        runs-on: ubuntu-latest
        strategy:
            fail-fast: false
            matrix:
                variant: [debian, alpine]
                include:
                    -   variant: debian
                        dockerfile: php/8.5-fpm/Dockerfile
                    -   variant: alpine
                        dockerfile: php/8.5-fpm-alpine/Dockerfile

        steps:
            -   uses: actions/checkout@v6

            -   name: Set up Docker Buildx
                uses: docker/setup-buildx-action@v3

            -   name: Build image
                uses: docker/build-push-action@v6
                with:
                    file: ${{ matrix.dockerfile }}
                    load: true
                    tags: php-test:${{ matrix.variant }}
                    cache-from: type=gha
                    cache-to: type=gha,mode=max

            -   name: Run tests
                run: |
                    docker run --rm -v ${{ github.workspace }}/tests:/tests php-test:${{ matrix.variant }} sh /tests/php-test.sh

    tag:
        name: Tag Release
        runs-on: ubuntu-latest
        needs: test
        if: github.ref == 'refs/heads/main'

        steps:
            -   uses: actions/checkout@v6

            -   name: Bump version and push tag
                id: tag_version
                uses: mathieudutour/github-tag-action@v6.2
                with:
                    github_token: ${{ secrets.GITHUB_TOKEN }}
                    tag_prefix: ''
                    create_annotated_tag: true
                    custom_release_rules: 'chore:patch:Chores'

            -   name: Create a GitHub release
                uses: ncipollo/release-action@v1
                with:
                    tag: ${{ steps.tag_version.outputs.new_tag }}
                    name: Release ${{ steps.tag_version.outputs.new_tag }}
                    body: ${{ steps.tag_version.outputs.changelog }}
                    token: ${{ secrets.GITHUB_TOKEN }}

    build-container:
        name: Build ${{ matrix.container.name }} (${{ matrix.platform.name }})
        runs-on: ${{ matrix.platform.runs }}
        needs: tag
        if: github.ref == 'refs/heads/main'
        strategy:
            fail-fast: false
            matrix:
                container:
                    -   name: PHP 8.5 FPM
                        path: php/8.5-fpm
                        image: ghcr.io/${{ github.repository_owner }}/php-8.5-fpm
                        digest: php-8.5-fpm-debian
                    -   name: PHP 8.5 FPM Alpine
                        path: php/8.5-fpm-alpine
                        image: ghcr.io/${{ github.repository_owner }}/php-8.5-fpm-alpine
                        digest: php-8.5-fpm-alpine
                    -   name: NGINX
                        path: nginx
                        image: ghcr.io/${{ github.repository_owner }}/nginx
                        digest: nginx
                platform:
                    -   name: linux/amd64
                        runs: ubuntu-24.04
                        digest: linux-amd64
                    -   name: linux/arm64
                        runs: ubuntu-24.04-arm
                        digest: linux-arm64
        steps:
            -   name: Docker meta
                id: meta
                uses: docker/metadata-action@v5
                with:
                    images: ${{ matrix.container.image }}

            -   name: Log in to GitHub Container Registry
                uses: docker/login-action@v3
                with:
                    registry: ghcr.io
                    username: ${{ github.actor }}
                    password: ${{ secrets.GITHUB_TOKEN }}

            -   name: Set up QEMU
                uses: docker/setup-qemu-action@v3

            -   name: Set up Docker Buildx
                uses: docker/setup-buildx-action@v3

            -   name: Build and push by digest
                id: build
                uses: docker/build-push-action@v6
                with:
                    file: ${{ matrix.container.path }}/Dockerfile
                    platforms: ${{ matrix.platform.name }}
                    labels: ${{ steps.meta.outputs.labels }}
                    outputs: type=image,"name=${{ matrix.container.image }}",push-by-digest=true,name-canonical=true,push=true
                    cache-from: type=gha
                    cache-to: type=gha,mode=max

            -   name: Export digest
                run: |
                    mkdir -p ${{ runner.temp }}/digests
                    digest="${{ steps.build.outputs.digest }}"
                    touch "${{ runner.temp }}/digests/${digest#sha256:}"

            -   name: Upload digest
                uses: actions/upload-artifact@v6
                with:
                    name: digests-${{ matrix.container.digest }}-${{ matrix.platform.digest }}
                    path: ${{ runner.temp }}/digests/*
                    if-no-files-found: error
                    retention-days: 1

    merge:
        name: Merge ${{ matrix.container.name }} Multi-Arch
        needs:
            - build-container
        runs-on: ubuntu-latest
        strategy:
            fail-fast: false
            matrix:
                container:
                    -   name: PHP 8.5 FPM
                        path: php/8.5-fpm
                        image: ghcr.io/${{ github.repository_owner }}/php-8.5-fpm
                        digest: php-8.5-fpm-debian
                    -   name: PHP 8.5 FPM Alpine
                        path: php/8.5-fpm-alpine
                        image: ghcr.io/${{ github.repository_owner }}/php-8.5-fpm-alpine
                        digest: php-8.5-fpm-alpine
                    -   name: NGINX
                        path: nginx
                        image: ghcr.io/${{ github.repository_owner }}/nginx
                        digest: nginx
        steps:
            -   name: Download digests
                uses: actions/download-artifact@v7
                with:
                    path: ${{ runner.temp }}/digests
                    pattern: digests-${{ matrix.container.digest }}-*
                    merge-multiple: true

            -   name: Log in to GitHub Container Registry
                uses: docker/login-action@v3
                with:
                    registry: ghcr.io
                    username: ${{ github.actor }}
                    password: ${{ secrets.GITHUB_TOKEN }}

            -   name: Set up Docker Buildx
                uses: docker/setup-buildx-action@v3

            -   name: Docker meta
                id: meta
                uses: docker/metadata-action@v5
                with:
                    images: ${{ matrix.container.image }}
                    tags: |
                        type=semver,pattern={{version}}
                        type=raw,value=latest

            -   name: Create manifest list and push
                working-directory: ${{ runner.temp }}/digests
                run: |
                    docker buildx imagetools create $(jq -cr '.tags | map("-t " + .) | join(" ")' <<< "$DOCKER_METADATA_OUTPUT_JSON") $(printf '${{ matrix.container.image }}@sha256:%s ' *)

            -   name: Inspect image
                run: docker buildx imagetools inspect ${{ matrix.container.image }}:latest
